.header {
    background-color: #fff;
    padding: .4rem;
    overflow: hidden;
    height: 2.8rem;
    border-bottom: 1px solid #ccc;
}

.header-logo {
    color: #1e90ff;
    font-size: 1.4rem;
    text-align: left;
}

.header-signature {
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    padding-left: 0.3rem;
}

.header-nav {
    line-height: 2.6rem;
}

.header-nav-item {
    font-size: .7rem !important;
    padding: 0 1rem;
}